/* CSS declarations go here */

#topDiv {
	background: #111; padding: 8px 10px 8px 10px; color: #aaa;
}
#topDiv input, #topDiv select {
		margin-bottom: 0px; height: 28px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
}

#topDivRight { float: right; line-height: 200% }
#topDivRight > img { height: 25px; margin-right: 3px; }
#topDivRight > span { font-weight: bold; color: white; margin-right: 2px; }

#login-dropdown-list { left: inherit; right: 2px; }
#login-dropdown-list a.login-close-text { float: right; }

#topDiv input[type="radio"] { display: none; }
#topDiv input[type="checkbox"] { display: none; }
#topDiv label { display: inline-block; }
#topDiv label > span {
	position: relative; top: 2px;
	border: 1px solid #cbcbcd; border-radius: 5px; 
	cursor:pointer; display: inline-block; color: #e9e9e9;
	width: 1em; height: 1em; background: #e9e9e9;
	font-size: 1.3em; text-align: center; margin-right: 5px;
	transition: color .15s linear, background-color .15s linear;
	-moz-user-select: none;
	-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
}
#topDiv label > input[type=checkbox]:checked + span {
	background: #fbf9fe; color: green;
}


#mainDiv {
	padding: 20px;
}

div.product {
	border: 2px solid black;
	border-radius: 8px;
	margin: 5px;
	padding: 10px 10px 10px 90px;
	vertical-align: top;
	display: inline-block; width: 400px; min-height: 100px;
	position: relative;
	color: black;
}
div.product img {
	height: 100px; max-width: 90px; padding-right: 20px;
	position: absolute; top: 10px; left: 10px;
}

div.product .status {
	font-size: 500%; font-weight: bold; text-shadow: 0px 0px 5px white;
	opacity: 0.7; display: none;
	position: absolute; top: 40px; left: 0px; width: 100px; text-align: center;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
div.product .status:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
div.product .status-yes:before {
	content: "\f00c"; color: #050;	
}
div.product .status-no:before {
	content: "\f05e"; color: #500;	
}

div.product a { color: black; text-decoration: underline; }

div.product .name { font-weight: bold; padding-top: 5px; }
.caneat-yes { background: #3a3; }
.caneat-no { background: #f33; }
.caneat-maybe { background: none; }


a.edit {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

table.editProduct { margin: 40px 100px 40px 100px; }
table.editProduct tr td:first-child { text-align: right; padding-right: 10px; }
table.editProduct tr td { padding: 2px; }
